/*
css reset
*/

*{
  margin: 0;
  padding: 0;
}

@media (max-width: 1420px) {
  #all-coins-container .themed-grid-col {
    width: 50%;
    /* Make each column take up the full width on smaller screens */
    margin-bottom: 15px;
    /* Add some space between stacked columns */
  }
}

@media (max-width: 1000px) {
  #all-coins-container .themed-grid-col {
    width: 100%;
    /* Make each column take up the full width on smaller screens */
    margin-bottom: 15px;
    /* Add some space between stacked columns */
  }
}

label{
  margin-top: 1rem;
}

::placeholder{
  font-size: 1rem;
}

#all-coins-container{
  margin-left: 1rem;
  margin-right: 1rem;
}

.themed-container {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  background-color: white;
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, 0.3);
}

.themed-grid-col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #b80f0f;
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, 0.3);
}

.navbar {
  background-color: #334972 !important;
}

/* top section */
#site-title {
  font-size: 46px;
  color: white;
}

.top-section {
  align-items: center;
  display: flex;
  justify-content: center;
}


.col-md-4 {
  align-items: center;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding-left: 10px;
}

.coin-information {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.coin-information p {
  margin-bottom: 0px;
}

.coinPic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 20px;
}

.coin-name {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.coin-amount {
  height: 35px;
  width: 150px;
}

.total-values-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.total-values-container p {
  font-size: 24px;
  color: black;
  margin-bottom: 0px;
}

.buttons {
  align-items: center;
  margin-top: 10px;
}

#silverPrice {
  width: 5rem;
}



.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin-right: auto;
}

.coin-card {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.coin-card:hover {
  transform: rotateY(180deg);
}

.coin-face-front {
  position: absolute; 
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.coin-face-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
